<div class="row">
  <div class="col-md-12">
    <%= render "shared/card" do %>
      <div class="row">
        <div class="col-md-10">
          <div class="question-title">
          <p><%= @question.title %></p>
          </div>
        </div>
        <div class="col-md-2">
          <label for="" class="label-category"><%= @question.category %></label>
        </div>
        <div class="col-md-12">
          <%= form_for @gameQuestion, url: questions_update_path(id: @gameQuestion.id) do |f| %>
            <div class="col-md-11 col-md-offset-1">
              <div class="question-body">
                <div class="form-group">
                    <div class="question-radio">
                      <%= f.radio_button :selected_answer, 1 %>
                      <%= label_field(1).html_safe %>
                      <%= f.label :selected_answer, @question.option1, value: 1, class: "label-radio" %>
                    </div>  
                    <div class="question-radio">
                      <%= f.radio_button :selected_answer, 2 %>
                      <%= label_field(2).html_safe %>
                      <%= f.label :selected_answer, @question.option2, value: 2, class: "label-radio" %>
                    </div>
                    <div class="question-radio">
                      <%= f.radio_button :selected_answer, 3 %>
                      <%= label_field(3).html_safe %>
                      <%= f.label :selected_answer, @question.option3, value: 3,class: "label-radio" %>
                    </div>
                    <div class="question-radio">
                      <%= f.radio_button :selected_answer, 4 %>
                      <%= label_field(4).html_safe %>
                      <%= f.label :selected_answer, @question.option4, value: 4, class: "label-radio" %>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 offset-md-10">
              <div class="question-footer">
                <%= f.submit "Next", class: "button-green float-right" %>
              </div>
            </div>
          <% end %>
        </div>
        
      </div>
    <% end %>
  </div>
</div>